*
{font-family: Arial, Helvetica, sans-serif;
    margin: 0;
 }

/*nav bar*/

.nav{
    background: darkgray;    
    }

.nav__list {
    display: flex;
    list-style-type: none;
}

 .nav__item {
    padding: 20px;
}

.nav__item--bckground{
        background-color: darkslategrey;
        height: 100%;
}



/*body*/

.carousel{
        background-color: lightgray;
        height: 200px;
    }

.title{
    margin: 1rem;
}

.title h2{
    text-align: center;
    }

.title__line{
    font-size: smaller;
    font-weight: lighter;
}

.section {
    display:flex;
    justify-content: space-evenly;
}

.section article{
    background-color: lightgray;
    width: 200px;
    height: 250px;
    margin-bottom: 75px;
}

.separation {
    height: 1px;
    background-color: black;
}

/*form*/

form{
    margin: auto;
    width: 800px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.formulaire__select {
    width: 800px;
}

.formulaire__input {
    width: 800px;
    margin: 5px;
    border: solid; 
    
} 


.formulaire__input--message {
    font-weight: bold;
}